
p {
    font-family: Arial;
    margin-top: 0;
    margin-bottom: 0;
  }

  .price {
    font-size: 32px;
    margin-bottom: 5px;
  }

  .currency {
    font-size: 16px;
    color: rgb(100, 100, 100);
  }

  .change {
    color: rgb(24, 128, 56);
    margin-bottom: 8px;
  }

  .after-hours {
    color: rgb(100, 100, 100);
    margin-bottom:40px;
  }

  .after-hours-change {
    color: rgb(235, 39, 39);

  }

  .title{
      margin-bottom:10px;
      font-size : 20 px; 
  }

  .username{
      color:rgb(123, 122, 122);
  }

  .subtitle{
      width:500px;
      margin-bottom : 20px;
  }
  .chp{
      color: rgb(33, 118, 245)
  }


   